Your name is <%=first_name%> <%=last_name%><br>
you are <%=your_age%> years old<br>
you have <%=hair_color%> hair and <%=eye_color%> eyes<br>
your favorite food and dink is <%=fav_food%> and <%=fav_drink%><br>
your favorite numbers are <%=num1%>, <%=num2%>, and <%=num3%><br>

<h2>WOW I've learned so much about you</h2>

<form method= "post" action= "results">
	<input type="hidden" name="first_name"
	value = "<%=first_name%>">
	<input type="hidden" name="last_name"
	value = "<%=last_name%>">
	<input type="hidden" name="hair_color"
	value = "<%=hair_color%>">
	<input type="hidden" name="eye_color"
	value = "<%=eye_color%>">
	<input type="hidden" name="your_age"
	value = "<%=your_age%>">
	<input type="hidden" name="fav_food"
	value = "<%=fav_food%>">
	<input type="hidden" name="fav_drink"
	value = "<%=fav_drink%>">
	<input type="hidden" name="num1"
	value = "<%=num1%>">
	<input type="hidden" name="num2"
	value = "<%=num2%>">
	<input type="hidden" name="num3"
	value = "<%=num3%>">
</form>
